@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Sakarah

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #4c4c4c;
$secondary_color: #ffdc50;
$tertiary_color: #000;
$background: #f2f2f2;
$border: #b3b3b3;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
	font-family: 'Tunga Regular';
	src: url(fonts/tunga_0.ttf);
}

@font-face {
	font-family: 'Papyrus Regular';
	src: url(fonts/PAPYRUS.TTF);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 16px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Logo */

.logo {
	.row {
		background: {
			image: url(figure_bg.png);
			repeat: no-repeat;
		}
		.moduletable_lo1 {
			padding: 40px 0;
			background: {
				image: url(moduletable_lo1_bg.png);
				position: center;
				repeat: no-repeat;
				size: 100%;
			}
			a {
				img {
					width: 260px;
				}
			}
		}
	}
}

/* Top */

.top {
	background-color: #000;
	.moduletable_to1 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					margin-top: 10px;
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(moduletable_to1_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $secondary_color;
								color: #000;
							}
						}
						a {
							padding: 10px 10px 15px 10px;
							font: {
								family: 'Tunga Regular';
								size: 20px;
							}
							&:hover {
								background-color: $secondary_color;
								color: #000;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							background-color: #000;
							border: 0;
							z-index: 100;
							li {
								padding: 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									text-align: center;
									text-transform: inherit;
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										&:after {
											border: {
												color: transparent transparent transparent #fff;
											}
										}
									}
									&:after {
										margin-right: 0;
										right: 0;
										border: {
											top-color: transparent;
											color: transparent transparent transparent $secondary_color;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to2 {
		ul {
			margin: 0;
			list-style: none;
			li {
				padding: 0 10px;
				background: {
					image: url(moduletable_to2_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				display: inline;
				&:last-child {
					background: none;
				}
			}
		}
	}
	.moduletable_to3 {
		padding: 0 10px;
		label {
			display: none;
		}
		input[type=text] {
			width: 160px;
			height: inherit;
			margin: 0;
			padding: 3px 2px 2px 2px;
			border: 1px solid $border;
			border-radius: 0;
			font-size: 12px;
			float: left;
			position: relative;
		}
		input[type=submit] {
			width: 25px;
			height: 25px;
			background: {
				color: transparent;
				image: url(moduletable_to3_button_bg.png);
				position: center;
				repeat: no-repeat;
			}
			border: 1px solid $border;
			border-radius: 0;
			color: transparent;
			float: left;
			position: relative;
		}
	}
}

/* Banner */

.banner {}

/* Content */

.content {
	.row {
		padding: 30px 0;
		background: {
			image: url(figure_bg.png);
			repeat: no-repeat;
		}
	}
	h1 {
		background: {
			image: url(title_bg.png);
			position: bottom;
			repeat: no-repeat;
		}
		font: {
			family: 'Tunga Regular';
			size: 24px;
		}
		color: #000;
		&.home {
			background: none;
			font: {
				family: 'Tunga Regular';
				size: 24px;
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	.row {
		padding: 30px 0;
		background: {
			image: url(figure_bg.png);
			repeat: repeat-y;
		}
	}
	.moduletable_b11 {
		h3 {
			font: {
				family: 'Tunga Regular';
				size: 34px;
			}
			color: #000;
		}
		a {
			color: $primary_color;
		}
		.left-bg {
			background: {
				image: url(moduletable_b11_left-bg.png);
				position: left;
				repeat: no-repeat;
			}
		}
		.right-bg {
			background: {
				image: url(moduletable_b11_right-bg.png);
				position: right;
				repeat: no-repeat;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	.row {
		padding: 30px 0;
		/*background: {
			image: url(figure_bg.png);
			repeat: repeat-y;
		}*/
	}
	.moduletable_b21 {
		h3 {
			background: {
				image: url(title_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				family: 'Tunga Regular';
				size: 24px;
			}
			color: #000;
		}
		iframe {
			border: none;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 50px 0;
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
	}
	.moduletable_b31 {
		p {
			margin: 0;
			font: {
				family: 'Papyrus Regular';
				size: 32px;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	.moduletable_bo1 {
		p {
			margin: 0;
			color: #603813;
			a {
				color: #603813;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: #000;
	color: $secondary_color;
	a {
		color: $secondary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}